<h1 id ="main">Welcome to the Task Manager</h1>

<ul>
  <li><a href="/tasks">All Tasks</a></li>
  <li><a href="/tasks/new">Create A Task</a></li>
</ul>

<img id= "task_master" src= "http://upload.wikimedia.org/wikipedia/en/7/7c/Cover_of_Avengers-196.jpg" alt ="task master comic" width = 50%>

