<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/application.css">
  <title>My Sinatra Application</title>
</head>
<body>
  <div class="container">
    <%= yield %>
  </div>
  
  <footer>
  <p>Posted by: Paul Grever</p>
  <p>Contact information: <a href="mailto:paulgrever@gmail.com">
  paulgrever@gmail.com</a></p>
</footer>
</body>
</html>